<h1>StaticPages#home <%= icon('fas', 'home') %></h1>
<p>Find me in app/views/static_pages/home.html.erb</p>

<!-- Slider fade -->
<header class="mt-78">
  <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class=""></li>
      <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item">
        <%= image_tag "slider-1.jpg", class: "bd-placeholder-img" %>
        <div class="container">
          <div class="carousel-caption text-left">
            <h1 class="mb-4">Order <span class="font-weight-bold">Professional Translations</span> in Just a Few Clicks</h1>
            <p class="mb-4">ProLingua is a professional translation company which offers exceptional language expertise services. We have experienced team, flexible prices, and international quality certification.</p>
            <p><%= link_to 'Learn More', static_pages_services_path, class: 'btn btn-primary btn-lg xs-btn-block' %></p>
          </div>
        </div>
      </div>
      <div class="carousel-item active">
        <%= image_tag "slider-2.jpg", class: "bd-placeholder-img" %>
        <div class="container">
          <div class="carousel-caption">
            <h1 class="mb-4">Our <span class="font-weight-bold">Professional Translators</span> are Native Speakers</h1>
            <p class="mb-4">In order for us to live up to our promise of an outstanding service, each job is assigned to linguists with specializations in various languages who work for our company.</p>
            <p><%= link_to 'Learn More', static_pages_about_path, class: 'btn btn-primary btn-lg xs-btn-block' %></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag "slider-3.jpg", class: "bd-placeholder-img" %>
        <div class="container">
          <div class="carousel-caption text-right">
            <h1 class="mb-4">We Offer <span class="font-weight-bold">Certified Translation</span></h1>
            <p class="mb-4">As a language evolves, texts in an earlier version of the language—original texts, or old translations—may become difficult for modern readers to understand. Such a text may be translated</p>
            <p><%= link_to 'Learn More', static_pages_about_path, class: 'btn btn-primary btn-lg xs-btn-block' %></p>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</header>

<!-- Promo -->
<section class="pd-section">
  <div class="container">
    <div class="row">
      <div class="col-md-5 mb-3">
        <%= image_tag "experience.jpg", class: "img-fluid", alt: "Order Professional Translations" %>
      </div>
      <div class="col-md-7 my-auto">
        <p class="text-primary">Proven Experience</p>
        <h2>Order <span class="font-weight-bold">Professional Translations</span> in Just a Few Clicks</h2>
        <p class="lead mb-4">ProLingua is a professional translation company which offers exceptional language expertise services. We have experienced team, flexible prices, and international quality certification. </p>
        <%= link_to 'Learn More', static_pages_about_path, class: 'btn btn-primary btn-lg xs-btn-block' %>
      </div>
    </div>
  </div>
</section>

<!-- Services -->
<section class="pd-section bg-light">
  <div class="container-fluid">
    <h2 class="text-center"><span class="font-weight-bold">We Offer a Wide Range</span>
of Translation Services</h2>
    <div class="row">
      <div class="col-md-6">
        <p class="lead"><span class="font-weight-bold">Translations</span> is a translation company that has been providing high quality, professional translation services for over 15 years. Check out our client list and read some client testimonials. Many customers feel that <span class="font-weight-bold">Translations</span> is the best translation company for their requirements.</p>
      </div>
      <div class="col-md-6">
        <p class="lead"><span class="font-weight-bold">Translations</span> stands for Global Translation Services. We have earned our name by being an international translation agency with global reach. With translators in over 100 countries and support of over 60 languages, we have the language expertise you need in every part of the world.</p>
      </div>
    </div>

    <div class="row mt-5 text-center">
    <!-- Documents Translation -->
      <div class="col-md-3">
        <div class="card mb-5 mb-lg-0">
          <div class="card-header card-blue">Documents Translation</div>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">letter translations</li>
              <li class="list-group-item">commercial documents translations</li>
              <li class="list-group-item">marketing materials translations</li>
              <li class="list-group-item">legal documentstranslations</li>
            </ul>

            <%= link_to(static_pages_services_path) do %>
              <%= icon('far', 'plus-square fa-2x', class: 'card-plus-icon') %>
            <% end %>
          </div>
        </div>
      </div>
    <!-- Apostile & Legalization -->
      <div class="col-md-3">
        <div class="card mt-5 mb-5 mb-lg-0">
          <div class="card-header card-green">Apostile & Legalization</div>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">authentication of documents</li>
              <li class="list-group-item">certify the signatureidentify the seal</li>
              <li class="list-group-item">involves several entitieslegalization</li>
              <li class="list-group-item">higher government authority</li>
            </ul>

            <%= link_to(static_pages_services_path) do %>
              <%= icon('far', 'plus-square fa-2x', class: 'card-plus-icon') %>
            <% end %>
          </div>
        </div>
      </div>
    <!-- Localization Services -->
      <div class="col-md-3">
        <div class="card mb-5 mb-lg-0">
          <div class="card-header card-blue">Localization Services</div>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">penetrate foreign markets</li>
              <li class="list-group-item">reach new clients orconsumer groups</li>
              <li class="list-group-item">increase international salesgain a competitive</li>
              <li class="list-group-item">advantage overregional rivals</li>
            </ul>
            <%= link_to(static_pages_services_path) do %>
              <%= icon('far', 'plus-square fa-2x', class: 'card-plus-icon') %>
            <% end %>
          </div>
        </div>
      </div>
    <!-- Website Translation -->
      <div class="col-md-3">
        <div class="card mt-5 mb-5 mb-lg-0">
          <div class="card-header card-green">Website Translation</div>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">software applications</li>
              <li class="list-group-item">html, Ruby, javascript and flash files</li>
              <li class="list-group-item">open source andproprietary CMS systems</li>
              <li class="list-group-item">multimedia files</li>
            </ul>

            <%= link_to(static_pages_services_path) do %>
              <%= icon('far', 'plus-square fa-2x', class: 'card-plus-icon') %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
