<!DOCTYPE html>
<html>
  <head>
      <!-- Required meta tags -->
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Translations</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Caveat|Exo+2:300,400,600" rel="stylesheet">

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
            <!-- menu -->
      <%= render "shared/navbar" %>
            <!-- content  -->
      <%= yield %>
      
  </body>
</html>
